<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{template}">
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

<head>
	<meta charset="utf-8">
	<title>Liste des Pasy du monde </title>
</head>

<body>
	<div layout:fragment="Mycontent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header">
					Liste des Pays du monde
					<form th:action="@{recherchePay}" method="post">
						<div class="d-flex justify-content-between w-50">
							<input type="text" name="nomPays" placeholder="Rechercher Pays"
								class="form-control " />
							<button type="submit" class="btn btn-secondary mx-3">Search</button>
						</div>
					</form>
				</div>
				<div class="card-body">
					<table class="table table-striped">
						<tr>
							<th>ID</th>
							<th>Nom du Pays</th>
							<th>langues quelle parent</th>
							<th>nombre de gouvernement</th>
							<th>continent</th>
							<th>Actions</th>
						</tr>
						<tr th:each="p:${pays}">
							<td th:text="${p.idPay}"></td>
							<td th:text="${p.nomPay}"></td>
							<td th:text="${p.Langues}"></td>
							<td th:text="${p.Gouvernorat}"></td>
							<td   th:if="${!#strings.isEmpty(p.continent.nomcont)}" th:text="${p.continent.nomcont}"></td>  
 							<td   th:if="${#strings.isEmpty(p.continent.nomcont)}"   th:text="${'Pas de Continent assosier'}"></td>
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger"
									onclick="return confirm('Etes-vous sûr ?')" th:href="@{supprimerPays(id=${p.idPay},
page=${currentPage},size=${size})}">Supprimer</a>
							</td>
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-success"
									th:href="@{modifierPays(id=${p.idPay})}">Editer</a></td>
						</tr>
					</table>
					<ul class="nav nav-pills">
						<li th:each="page,status:${pages}">
							<a th:class="${status.index==currentPage?'btn btn-primary':'btn' }"
								th:href="@{ ListePays(page=${status.index}, size=${size} ) }"
								th:text="${status.index }"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>

</html>